body {background-color: black;}
.botaoBuscar {
    background-color: crimson; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
  }
.botaoBuscar:hover{
    background-color: rgb(177, 16, 48);
}
#corTextoTabela{
    color: white;
}

table, th, td {
    border: 1px solid rgb(107, 14, 32);
    border-collapse: collapse;
  }
.ListaTitulo{
    font-family:'Oxanium', sans-serif;
    font-size: larger;
    text-align: center;
}
.ListaDescricao{
    text-align: center;
    font-family:'Oxanium', sans-serif;
    font-size: large;
    height: 200px;
}
.Input{
    background-color: black;
    color: white;
    text-align: center;
    font-family:'Oxanium', sans-serif;
    text-decoration: none;
}
.ListaImagem{
    min-height: 300px
}
.ListaImagem img{
    padding: 10px;
}
.TextoIntro{
    font-family:'Oxanium', sans-serif;
    font-size: large;
    color:crimson ;
}
.TextoIntro span{
    font-weight: bolder;
}